@charset "utf-8";
// 变量
// 层叠数
$z99:99;
// 背景颜色
$bgcolor:#f7f9f8;
//字体颜色
$fontcolor:#008842;
$city-con-color:#007f4d;
@mixin headerimg($x:0px, $y:0px) {
    background: url(../img/header-img.png) no-repeat $x $y;
}

@mixin img-position($x:0px, $y:0px) {
    background-position: $x $y;
}

%i {
    //占位继承,自身不编译
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

%li {
    float: left;
    line-height: 30px;
    margin-right: 10px;
}

%hover-a {
    color: $fontcolor;
    border-color: #b4c1a3;
    background: #fff;
    padding-bottom: 1px;
}

// 顶部工具栏
.site-nav {
    width: auto;
    height: 30px;
    position: relative;
    z-index: $z99;
    background: $bgcolor;
    s {
        position: absolute;
        top: 13px;
        right: 8px;
        width: 8px;
        height: 4px;
        margin-left: 5px;
        @include headerimg(0, 0);
        transition: transform .2s ease-in 0s;
    }
    // 左边部分
    .fl {
        li {
            @extend %li;
        }
        // 选择定位城市
        .city {
            position: relative;
            color: $fontcolor;
            &:hover .city-con {
                display: block;
            }
            &:hover .city-tit a {
                background: $fontcolor;
                color: #fff;
                s {
                    @include headerimg(-25px, 0);
                    transform: rotate(180deg);
                }
            }
            .city-sz {
                float: left;
                height: 16px;
                line-height: 16px;
                margin: 7px 0;
                cursor: pointer;
            }
            .city-name {
                z-index: $z99+1;
                position: relative;
                display: block;
                float: left;
                height: 20px;
                line-height: 20px;
                margin-top: 5px;
                padding: 0 20px 5px 5px;
                color: $fontcolor;
                cursor: pointer;
            }
        }
        .city-tit {
            float: left;
            s {
                top: 9px;
            }
        }
        .city-con {
            position: absolute;
            top: 28px;
            left: 0;
            width: 482px;
            border: 2px solid $city-con-color;
            background: #fff;
            a {
                color: #727272;
                margin: 0 5px;
                float: left;
                display: inline-block;
                &:hover {
                    color: $city-con-color;
                }
            }
            .citylist-header {
                padding: 0 15px;
                line-height: 30px;
                color: #727272;
                background: #ededed;
                a {
                    float: right;
                    color: $fontcolor;
                    font-family: simsun;
                }
            }
            .citylist-hot {
                overflow: hidden;
                margin: 10px 15px;
                line-height: 18px;
                span {
                    display: block;
                    margin-bottom: 5px;
                    font-weight: bold;
                    color: #666;
                    i {
                        width: 16px;
                        height: 16px;
                        margin-right: 5px;
                        @include headerimg(-174px, 0);
                    }
                }
                a {
                    padding: 3px 10px 3px 15px;
                }
            }
            .citylist-tab {
                margin: 10px 0;
                padding: 0 15px;
                .active {
                    position: relative;
                    border-color: #e0e0e0;
                    border-bottom-color: #fff;
                }
                span {
                    display: inline-block;
                    width: 19%;
                    border: 1px solid #fff;
                    border-bottom-color: #e0e0e0;
                    text-align: center;
                    cursor: pointer;
                    margin-right: -4px;
                }
            }
            dl {
                display: block;
                overflow: hidden;
                line-height: 22px;
            }
            dt {
                font: bold 12px/22px Arial, "Microsoft YaHei";
                color: $fontcolor;
                float: left;
                margin-right: 10px;
                text-align: center;
            }
            dd {
                overflow: hidden;
                zoom: 1;
            }
            .citylist-con {
                display: none;
                margin: 0 15px 15px;
            }
            &>.active {
                display: block;
            }
        }
        .citylist-con {
            a {
                float: left;
                width: 18%;
                margin: 0 0 0 5px;
            }
            .hot {
                color: $fontcolor;
                font-weight: bold;
            }
        }
        .police {
            img {
                vertical-align: middle;
                width: 16px;
                height: 16px;
            }
        }
    }
    // 右边部分
    .fr {
        li {
            @extend %li;
            position: relative;
            padding: 0 10px;
            text-align: center;
            margin-right: 0px;
            float: right;
        }
        .con {
            display: none;
            position: absolute;
            top: 30px;
            left: 0;
            border: 1px solid #b4c1a3;
            background: #fff;
        }
        .tit {
            a {
                display: block;
                float: left;
                height: 30px;
                line-height: 30px;
                padding: 0 20px 0 10px;
                cursor: pointer;
                z-index: $z99+1;
                border: solid #f7f9f8;
                border-width: 0 1px;
                position: relative;
            }
            a:hover {
                background: #fff;
                border-color: #b4c1a3;
                padding-bottom: 1px;
                s {
                    transform: rotate(180deg);
                }
            }
        }
        i {
            width: 18px;
            height: 18px;
            margin-right: 5px;
            @include headerimg(0, 0);
        }
        .myyiguo {
            padding: 0;
            .tit i {
                @include img-position(-40px, 0);
            }
            .con {
                width: 100px;
                padding: 5px 12px;
                text-align: left;
                a {
                    display: block;
                    line-height: 25px;
                    color: #727272;
                }
            }
            &:hover .con {
                display: block;
            }
            &:hover .tit {
                a {
                    @extend %hover-a;
                }
            }
        }
        .mobile {
            padding: 0;
            .tit i {
                @include img-position(-64px, 0);
            }
            .con {
                width: 125px;
                padding: 10px;
                line-height: 25px;
            }
            .item {
                margin: 5px 0;
            }
            img {
                width: 125px;
                height: 125px;
            }
            &:hover .con {
                display: block;
            }
            &:hover .tit {
                a {
                    @extend %hover-a;
                }
            }
        }
        .pay i {
            width: 22px;
            @include img-position(-147px, 0);
        }
        .TEL i {
            @include img-position(-86px, 0);
        }
        .apt img {
            vertical-align: middle;
        }
    }
}

.header {
    background: #e0e0e0;
    .wrap {
        height: 58px;
        padding: 15px 0 5px 0;
    }
    .logo {
        width: 280px;
        margin-right: 10px;
        a {
            display: block;
            width: 145px;
            height: 50px;
            background: url(../img/logo.png) no-repeat left top;
        }
    }
    .search {
        width: 528px;
        position: relative;
        .search-input {
            width: 425px;
            height: 26px;
            line-height: 26px;
            padding: 0 10px;
            border: 1px solid $fontcolor;
            background: #e0e0e0;
            color: rgb(153, 153, 153);
        }
        .search-btn {
            display: block;
            width: 81px;
            height: 28px;
            line-height: 28px;
            padding: 0;
            border: none;
            cursor: pointer;
            color: #fff;
            font-size: 14px;
            background: $fontcolor;
            text-align: center;
        }
        .search-keywords {
            line-height: 30px;
            a {
                margin-right: 5px;
                color: #727272;
                display: inline-block;
            }
            a.hot {
                color: $fontcolor;
            }
        }
    }
    .shopping-cart {
        z-index: $z99;
        position: relative;
    }
}

.shopping-btn {
    width: 170px;
    height: 28px;
    padding: 6px 0;
    line-height: 28px;
    text-align: center;
    font-size: 25px;
    border: 1px solid $fontcolor;
    background: #fff;
    cursor: pointer;
    a {
        display: block;
        color: $fontcolor;
    }
    .totleNum {
        display: inline-block;
        vertical-align: middle;
        width: 28px;
        height: 20px;
        margin-right: 10px;
        font-size: 12px;
        padding: 0;
        background: url(../img/header-img.png) no-repeat -112px 0;
        b {
            display: block;
            width: 24px;
            line-height: 12px;
            margin-right: 4px;
            text-align: center;
        }
    }
    .totlePrice {
        font-weight: normal;
        font-family: Arial, "Microsoft YaHei";
    }
}

.shopping-list {
    z-index: 88;
    display: none;
    position: absolute;
    top: 41px;
    right: 0;
    width: 380px;
    padding: 10px;
    background: #fff;
    border: 1px solid #007f4d;
    .nogoods {
        width: 380px;
        height: 120px;
        line-height: 120px;
        text-align: center;
        background: url(../img/none-bg-w190.jpg) no-repeat center #fff;
    }
    p {
        width: 380px;
        height: 28px;
        line-height: 28px;
        color: #008842;
        margin: -10px 0 0 -10px;
        padding: 0 10px;
        background: #ededed;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    ul {
        display: block;
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;
        width: 380px;
        max-height: 264px;
        margin: 10px 0 0 0;
        padding: 0px;
    }
    li {
        position: relative;
        overflow: hidden;
        zoom: 1;
        background: #fff;
        height: 45px;
        padding: 0 0 15px 0;
        line-height: 20px;
        .l {
            float: left;
            margin-right: 5px;
            width: 45px;
            height: 45px;
        }
        .c {
            float: left;
            width: 222px;
            a {
                display: block;
                overflow: hidden;
            }
        }
        .r {
            float: left;
            text-align: right;
            width: 90px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            b {
                color: #e7380d;
                font-weight: bold;
            }
            a {
                display: block;
                color: #888;
            }
        }
    }
    .price-total {
        font-size: 12px;
        line-height: 27px;
        margin-top: 5px;
        padding-top: 10px;
        text-align: right;
        border-top: 1px solid #dcdcdc;
        span {
            margin-left: 15px;
        }
        b {
            color: #e7380d;
            font-size: 16px;
            margin: 0 5px;
        }
    }
    .settleup {
        display: inline-block;
        width: 75px;
        height: 27px;
        font-size: 12px;
        text-align: center;
        color: #fff;
        background: #008842;
    }
}

.header_fixed {
    z-index: $z99 +1;
    display: block;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 46px;
    background: url(../img/header_fixed_bg.png) repeat;
    .wrap {
        height: 36px;
        padding: 5px 0;
    }
    .logo {
        margin-right: 0px;
        a {
            height: 36px;
            background-size: auto 100%;
        }
    }
    .search {
        width: 770px;
        margin-top: 3px;
        .search-keywords {
            overflow: hidden;
            float: left;
            width: 230px;
            height: 28px;
            margin-left: 10px;
        }
    }
    .search-bar {
        float: left;
    }
    .shopping-cart {
        .shopping-btn {
            width: 140px;
            padding: 2px 0;
            font-size: 20px;
        }
    }
    .shopping-list {
        top: 33px;
    }
}