@charset "UTF-8";
.header-bot {
  float: right;
  padding-top: 20px;
  margin-right: 40px; }
  .header-bot li {
    position: relative;
    float: left; }
    .header-bot li b {
      background: url(../img/order-step.png) no-repeat;
      width: 36px;
      height: 36px;
      display: block;
      float: left; }
    .header-bot li span {
      position: absolute;
      top: -20px;
      right: 0;
      display: inline-block;
      width: 160px;
      text-align: center;
      right: -62px;
      color: #333; }
    .header-bot li i {
      width: 165px;
      height: 6px;
      background: #fff;
      border: 1px solid #e5e5e5;
      border-width: 1px 0;
      display: block;
      float: left;
      margin-top: 15px;
      margin-right: 0;
      overflow: hidden; }
    .header-bot li .b2 {
      background-position: -42px 0; }
    .header-bot li .b3 {
      background-position: -84px 0; }
  .header-bot .on .b1 {
    background-position: 0 -44px; }
  .header-bot .on span {
    color: #008842; }

#cart {
  margin-top: 20px; }

.cart-none {
  border: 1px solid #e3e6e0;
  background: #fff;
  line-height: 30px;
  padding: 70px 0; }
  .cart-none a {
    color: #008842; }
  .cart-none p {
    height: 280px;
    font-size: 14px;
    text-align: center;
    background: url(../img/none-bg.jpg) no-repeat center bottom; }
    .cart-none p b {
      font-size: 14px;
      font-weight: normal; }
      .cart-none p b a {
        margin-left: 15px; }

.cart-show h2 {
  font-weight: normal;
  height: 38px;
  line-height: 38px;
  border-bottom: 2px solid #05984d;
  text-indent: -9999em;
  position: relative;
  background: url(../img/bg_cart.png) no-repeat 0 0 #fff;
  text-indent: -9999em; }
  .cart-show h2 .city {
    position: absolute;
    left: 230px;
    top: 4px;
    text-indent: 0; }
  .cart-show h2 .city-sz {
    float: left;
    height: 16px;
    line-height: 16px;
    margin: 7px 0;
    cursor: pointer; }
  .cart-show h2 i {
    display: inline-block;
    background-position: -80px -40px;
    width: 12px;
    height: 16px;
    margin-right: 8px; }
  .cart-show h2 .city-tit {
    float: left; }
  .cart-show h2 .city-name {
    z-index: 100;
    position: relative;
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
    margin-top: 5px;
    padding: 0 5px 5px 5px;
    cursor: pointer; }
    .cart-show h2 .city-name s {
      top: 9px; }
  .cart-show h2 .go-shopping {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    color: #008842;
    text-indent: 0;
    text-decoration: underline;
    margin-right: 22px; }

.cart-main {
  border: 1px solid #e3e6e0;
  border-top: 0;
  padding: 10px 20px;
  background-color: #fff; }

.cart-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin-bottom: 10px; }
  .cart-table th {
    height: 40px;
    background-color: #f1f1f1;
    font: 12px/40px Simsun;
    color: #262626;
    text-align: center;
    padding: 0 10px; }
  .cart-table td {
    border-top: 1px solid #ebebeb;
    padding: 10px;
    text-align: center; }
  .cart-table .cart-t-check {
    width: 120px;
    text-align: left;
    padding-left: 20px; }
  .cart-table .cart-t-ub {
    width: 75px; }
  .cart-table .cart-t-price {
    width: 100px; }
  .cart-table .cart-t-num {
    width: 110px; }
  .cart-table .cart-t-img {
    width: 80px;
    position: relative; }
    .cart-table .cart-t-img img {
      width: 80px;
      height: 80px;
      border: 1px solid #ebebeb;
      position: relative; }
  .cart-table .cart-t-total {
    width: 110px; }
  .cart-table .cart-t-spec {
    width: 110px; }
  .cart-table .cart-t-opera {
    width: 110px; }
    .cart-table .cart-t-opera a {
      display: block;
      margin: 5px; }

.cart-main-list .cart-table .cart-t-check {
  width: 20px;
  text-align: left;
  padding-left: 20px; }
.cart-main-list .cart-t-info {
  text-align: left;
  width: 260px; }
  .cart-main-list .cart-t-info a {
    font: 14px/2.4em Simsun; }
.cart-main-list .quantity-form {
  position: relative;
  overflow: hidden;
  width: 90px;
  height: 30px; }
.cart-main-list .itxt {
  position: absolute;
  left: 22px;
  top: 0;
  border: 1px solid #cacbcb;
  width: 42px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  padding: 1px;
  margin: 0;
  font-size: 12px;
  font-family: verdana;
  color: #333; }
.cart-main-list .decrement {
  float: left;
  margin: 0;
  width: 18px;
  height: 24px;
  background: url(../img/bg_cart.png) no-repeat 0 -40px; }
.cart-main-list .increment {
  margin: 0;
  width: 18px;
  height: 24px;
  float: right;
  background: url(../img/bg_cart.png) no-repeat -20px -40px; }

.cart-main-bot {
  background-color: #f7f7f7;
  font-size: 12px;
  line-height: 1em;
  color: #666;
  margin-top: 20px;
  padding: 10px; }
  .cart-main-bot .wrap {
    width: 100%; }
  .cart-main-bot label {
    margin-left: 20px;
    vertical-align: middle; }
  .cart-main-bot input {
    margin-right: 5px; }
  .cart-main-bot a {
    font: 12px/40px Simsun;
    margin-left: 20px; }
  .cart-main-bot span {
    margin-right: 20px; }
  .cart-main-bot em {
    color: #ff5317;
    font-weight: bold;
    margin: 0 5px;
    font-size: 18px;
    font-style: normal;
    line-height: 1em; }
  .cart-main-bot .ub em {
    color: #249c61;
    font: bold 14px/1em Simsun; }
  .cart-main-bot .fs14 {
    font-size: 14px; }
  .cart-main-bot .btn {
    font: bold 18px/1em "微软雅黑";
    background-color: #ff5317;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    margin-left: 0;
    cursor: pointer; }

/*# sourceMappingURL=cart.css.map */
