.footer-top {
  background: #e0e0e0;
  margin-top: 50px;
  padding: 30px 0; }
  .footer-top li {
    float: left;
    width: 190px;
    height: 42px;
    margin-left: 55px;
    padding-left: 55px;
    background: url(../img/footer_service_icon.png) no-repeat left top; }
    .footer-top li b {
      display: block;
      padding-left: 15px;
      color: #007f4d;
      font: normal 18px/25px "Microsoft YaHei";
      border-left: 1px solid #a6a6a6; }
    .footer-top li span {
      display: block;
      padding-left: 15px;
      border-left: 1px solid #a6a6a6; }
  .footer-top .footer-top-li1 {
    background-position: 0 0px; }
  .footer-top .footer-top-li2 {
    background-position: 0 -42px; }
  .footer-top .footer-top-li3 {
    background-position: 0 -84px; }
  .footer-top .footer-top-li4 {
    background-position: 0 -126px; }

.footer {
  clear: both;
  position: relative;
  padding-bottom: 20px;
  border-top: 1px solid #a6a6a6; }
  .footer .wrap {
    margin: 50px auto 0; }
  .footer dl {
    width: 190px;
    float: left;
    margin-left: 50px;
    display: inline; }
    .footer dl dt {
      height: 23px;
      line-height: 23px;
      background: url(../img/footer_icon.png) no-repeat;
      font-size: 14px;
      text-indent: 40px; }
    .footer dl dd {
      border-left: 1px dashed #A8A8A8;
      padding-left: 20px;
      height: 110px;
      margin: 15px 0 0 13px; }
      .footer dl dd a {
        color: #575556;
        line-height: 22px; }
  .footer .footer-dl1 dt {
    background-position: 0 0px; }
  .footer .footer-dl2 dt {
    background-position: 0 -23px; }
  .footer .footer-dl3 dt {
    background-position: 0 -46px; }
  .footer .footer-dl4 dt {
    background-position: 0 -69px; }
  .footer .footer-dl5 dt {
    background-position: 0 -92px; }
  .footer .service {
    clear: both;
    text-align: center;
    padding: 60px 0 20px;
    color: #008842;
    font-size: 14px; }
    .footer .service span {
      display: inline-block;
      padding: 0 10px; }
  .footer .copyright {
    clear: both;
    color: #717171;
    text-align: center;
    line-height: 22px; }
    .footer .copyright a {
      color: #717171; }
  .footer .authentication a {
    display: inline-block;
    position: relative;
    margin: 0 10px;
    vertical-align: middle; }
  .footer .authentication img {
    height: 47px; }
  .footer .foot-under {
    display: inline-block;
    text-decoration: none;
    height: 20px;
    line-height: 20px; }
    .footer .foot-under span {
      height: 20px;
      line-height: 20px;
      margin: 0px 0px 0px 5px;
      color: #939393; }
    .footer .foot-under img {
      height: 20px; }

.header {
  border: none;
  background: #e0e0e0; }
  .header .wrap {
    padding: 15px 0 5px 0; }
  .header .logo a {
    display: block;
    width: 195px;
    height: 50px;
    background: url(../img/logo.png) no-repeat; }
  .header .header-title {
    font: 28px/1 Microsoft YaHei;
    position: absolute;
    top: 16px;
    white-space: nowrap;
    color: #008842;
    left: 260px; }

.register {
  margin-top: 30px; }
  .register .wrap {
    padding: 40px 0 50px;
    border: 1px solid #a5c9b6;
    border-top: 0;
    background-color: #fff; }
  .register p {
    margin-bottom: 29px;
    font: 14px Arial, "Microsoft YaHei"; }
  .register .span-name {
    display: inline-block;
    width: 220px;
    padding-right: 20px;
    text-align: right; }
  .register .input {
    margin-right: 20px;
    border: 1px solid #c1c1c1;
    background-color: #fff;
    height: 38px;
    vertical-align: middle;
    padding-left: 14px;
    width: 290px;
    font: 14px/38px "Microsoft YaHei"; }
  .register .btn-yzm {
    display: inline-block;
    width: 121px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    background-color: #f7f7f7;
    border: 1px solid #c1c1c1;
    color: #008842;
    margin-right: 20px; }
  .register .input-yzm {
    width: 147px; }
  .register .green {
    color: #008842; }
  .register .fr {
    width: 330px;
    height: 340px;
    padding-top: 50px;
    font: 14px/56px "Microsoft YaHei";
    text-align: center;
    background: url(../img/register_line.jpg) 0 0 repeat-y;
    position: relative; }
  .register .right {
    position: absolute;
    top: -15px;
    left: 130px;
    font: 14px/1 "Microsoft YaHei";
    text-align: right; }
    .register .right .orange {
      margin-right: 36px;
      text-decoration: underline;
      color: #ef760a; }

input[type=checkbox] {
  width: 14px;
  height: 14px;
  margin-right: 9px;
  vertical-align: -1px; }

.input-phone {
  background-position: 276px -30px;
  background-image: url(../img/bg_input.png);
  background-repeat: no-repeat; }

.input-password {
  background-position: 276px -70px;
  background-image: url(../img/bg_input.png);
  background-repeat: no-repeat; }

.btn-green {
  background: #008842;
  width: 306px;
  display: inline-block;
  height: 50px;
  text-align: center;
  color: #fff;
  font: 18px/50px "Microsoft YaHei"; }
  .btn-green:hover {
    color: #fff; }

.login {
  background-color: #fff;
  border: 1px solid #65b42c;
  padding-top: 30px;
  padding-bottom: 30px; }
  .login .input {
    border: 1px solid #c1c1c1;
    background-color: #fff;
    height: 38px;
    vertical-align: middle;
    padding-left: 14px;
    width: 290px;
    font: 14px/38px "Microsoft YaHei";
    padding-left: 50px;
    width: 254px;
    background-image: url(../img/bg_input.png);
    background-repeat: no-repeat; }
  .login .fr {
    padding-right: 105px; }
  .login p {
    margin-bottom: 20px;
    font: 12px Arial, "SimSun";
    color: #878787;
    position: relative;
    overflow: hidden; }
    .login p strong {
      color: #262626;
      font: 18px/1 "Microsoft YaHei"; }
    .login p span {
      position: absolute;
      right: 0;
      top: 0; }
    .login p .green {
      text-decoration: underline; }

.input-phone-icon,
.input-key-icon {
  position: absolute;
  left: 1px;
  top: 1px !important;
  width: 40px;
  height: 38px;
  background-image: url(../img/bg_input.png);
  background-repeat: no-repeat; }

.input-phone-icon {
  background-position: 0 -120px; }

.input-key-icon {
  background-position: 0 -180px; }

#VerifyCode {
  width: 100px;
  float: left; }

.gray {
  display: inline-block;
  color: #878787; }

.login-main {
  width: 308px;
  padding: 30px 20px 20px;
  background-color: #fff;
  border: 1px solid #e3e6e0; }
  .login-main p {
    width: 100%; }

.pass-error {
  color: #f60000; }

.login i,
.register i {
  background-image: url(../img/bg_login.png);
  width: 88px;
  height: 20px;
  padding-right: 15px; }

.qq i {
  background-position: -60px -200px; }

.sina i {
  background-position: -160px -200px; }

.ay i {
  background-position: -260px -200px;
  width: 57px;
  margin-right: 0; }

.pass-succ i,
.pass-tip i,
.pass-error i {
  display: inline-block;
  width: 17px;
  height: 17px;
  vertical-align: middle;
  margin-right: 9px; }

.pass-error i {
  background-position: -40px -200px;
  width: 5px; }

.pass-succ i {
  background-position: 0 -200px;
  width: 5px; }

.msg-wrap {
  height: auto !important;
  margin: 2px 0px 5px; }

.msg-error {
  position: relative;
  background: #FFEBEB none repeat scroll 0% 0%;
  border: 1px solid #E4393C;
  padding: 3px 10px 3px 40px;
  line-height: 18px;
  min-height: 18px;
  color: #E4393C; }

/*# sourceMappingURL=register.css.map */
